# Publication documents
docs/
sitemap.org

# TeX preview images
ltximg/

# site-specific start and defaults
site-start.el
default.el

# local-emacs-config directory
local.d/

# byte-compilation files
*.elc

# gnu gtags
GPATH
GRTAGS
GTAGS

# known emacs cache
eln-cache/
.cache/
recentf
projects
.custom-settings
.lsp-session-v1
.org-timestamps/
projectile-bookmarks.eld
recentf
undo-tree/
.dap-breakpoints
.mc-lists.el
lsp/
projectile-bookmarks.tld
transient/
org-persist/
auto-save-list/

# package.el cache
elpa/
packages/
url/
org-re-reveal/
oer-reveal-org/

# Evil-Tutor cache
.tutor/

# eww bookmarks
eww-bookmarks
