# Linux
*~

# temporary files which can be created if a process still has a handle open of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

# MacOS
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Publication documents
docs/
sitemap.org

# TeX preview images
ltximg/

# site-specific start and defaults
site-start.el
default.el

# local-emacs-config directory
local.d/

# byte-compilation files
*.elc

# gnu gtags
GPATH
GRTAGS
GTAGS

# known emacs cache
eln-cache/
.cache/
recentf
projects
.custom-settings
.lsp-session-v1
.org-timestamps/
projectile-bookmarks.eld
recentf
undo-tree/
.dap-breakpoints
.mc-lists.el
lsp/
projectile-bookmarks.tld
transient/
org-persist/
auto-save-list/

# package.el cache
elpa/
packages/
url/
org-re-reveal/
oer-reveal-org/

# Evil-Tutor cache
.tutor/

# eww bookmarks
eww-bookmarks
